.add-person-content {
  top: 100px;
  right: 0;
  left: 255px;
}

.form-check-input:checked {
  border: none;
  background-color: #ffc436;
}

.form-check .form-check-input {
  width: 3rem;
  height: 1.6rem;
}

.form-input .form-floating textarea {
  height: 145px;
}

.form-input input,
.form-input select,
.form-input textarea {
  border: 1px solid #ddd;
}

.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1rem;
}

.form-input span {
  font-size: 0.85rem;
  color: #015d98;
}
