.add-person-content {
  top: 100px;
  right: 0;
  left: 255px;
}

.form-check-input:checked {
  border: none;
  background-color: #ffc436;
}

.form-check .form-check-input {
  width: 4rem;
  height: 2rem;
}

.form-input .form-floating textarea {
  height: 145px;
}
