/* DASHBOARD CONTENT */

.header-sm-title {
  font-size: 1.6rem;
  margin-bottom: 3rem;

  line-height: 1.6;
}

.dashboard-content {
  top: 100px;
  right: 0;
  left: 255px;
}

.dashboard-card {
  width: 30%;
}

.dashboard {
  margin-top: 6rem;
}

.number {
  font-size: 6.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  opacity: 80%;

  /* text-align: center; */
  color: #015d98;
}

.card-subtitle {
  font-size: 1.8rem;
  font-weight: 600;
}

.card {
  background-color: #fafafa;
  box-shadow: 0 0.1rem 0.5rem rgba(1, 94, 152, 0.273);

  margin-bottom: 3.2rem;
  padding: 1.2rem;

  border-radius: 5px;
}

.card-text {
  font-size: 1.4rem;
  line-height: 1.75;
  letter-spacing: 0.5px;
  margin-top: 1.4rem;
  color: inherit;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-link {
  font-size: 1.6rem;
  padding-bottom: 2px;
  border-bottom: 2px solid #1a82c5;
  text-decoration: none;
}

/* .dashboard-card {
  margin: 1.2rem;
} */
