/* COLOR */
/* 
#0d3c59
#003172
#0174be
#015d98 
#1a82c5
#FFC436
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* .container {
  max-width: 576px;
  padding: 0 3.2rem;
  margin: 0 auto;
} */

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Open-Sans", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #333;
}

.first-heading {
  font-size: 4.2rem;
}

.second-heading {
  font-size: 3.4rem;
}

.third-heading {
  font-size: 2.4rem;
}

/* .login-content,
.search-form * :focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 0.8rem rgba(1, 116, 188, 0.18);
} */

.btn {
  border: none;
  background: none;
  font-family: inherit;
  /* color: inherit; */
  cursor: pointer;
  color: #333;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.form-control,
.form-control-sm,
.btn--form {
  border: 1px solid #0174be;
  cursor: pointer;

  border-radius: 2px;
}

.form-control {
  font-size: 1.6rem;
  padding: 1.2rem;
}

.form-control-sm {
  font-size: 1.4rem;
}

.btn--form {
  padding: 1.02rem 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 1.05px;

  background-color: #015d98;
  color: #ffffff;
  transition: all 0.3s ease;
}

.btn--form:hover,
.btn--form:active {
  background-color: #1a82c5;
  color: #ffffff;
}
