/* COLOR */
/* 
#0d3c59
#003172
#0174be
#015d98 
#1a82c5
#FFC436
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* .container {
  max-width: 576px;
  padding: 0 3.2rem;
  margin: 0 auto;
} */

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 1;
  color: #555;
}

.first-heading {
  font-size: 4.2rem;
}

.second-heading {
  font-size: 3.4rem;
}

.third-heading {
  font-size: 2.4rem;
}

.login-content * :focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 0.8rem rgba(1, 116, 188, 0.18);
}

.btn {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.form-control,
.btn--form {
  border: 1px solid #0174be;
  border-radius: 2px;
  padding: 1.2rem;
}

.btn--form {
  padding: 1.02rem 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 1.05px;

  background-color: #015d98;
  color: #ffffff;
  transition: all 0.3s ease;
}

.btn--form:hover,
.btn--form:active {
  background-color: #1a82c5;
  color: #ffffff;
}

/*====================*/
/* MOBILE NAVIGATION */
/*====================*/

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  /* display: none; */
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*====================*/
/* GRID */
/*====================*/

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.col-sm-2 {
  display: grid;
  grid-template-columns: 1rem 1.5rem;
}
