/* LOGIN SECTION */
.login-section {
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.login-img {
  /* gambar tidak akan ditampilkan pada mobile */
  display: flex;
  align-items: center;
  width: 100%;
}

.heading-content {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-weight: 600;
}

.heading-content span {
  color: #0174be;
  text-decoration: underline;
}

.form-label {
  margin: 2.4rem 0;
  /* width: 50%; */
}

.form-content-footer a,
.form-content-footer {
  font-size: 1.4rem;
}

.btn-container {
  display: flex;
  column-gap: 3.6rem;
  margin-top: 2.4rem;
}

label {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
