@media (min-width: 1400px) {
    .page-dashboard .dashboard-content,
    .page-persons .person-content,
    .page-add-person .add-person-content,
    .page-view-person .view-person-content,
    .page-edit-person .edit-person-content,
    .page-my-profile .my-profile-content,
    .page-hobbies .hobbies-content,
    .page-add-hobby .add-hobby-content,
    .page-edit-hobby .edit-hobby-content{
        left: 250px;
    }
}

@media (max-width: 1200px) {
    .page-dashboard .dashboard-card {
        width: 50%;
    }

    .page-dashboard .dashboard-card:last-child{
        margin-bottom: 3.6rem;
    }

    .page-persons .search-form .wrapper,
    .page-persons .search-form .wrapper .form-search,
    .page-hobbies .form-search{
        padding-bottom: 0.75rem;
    }
}


@media (max-width: 992px) {
    .page-dashboard .dashboard-card {
        width: 50%;
    }

    .page-persons .content-wrapper {
        display: block;
    }

    .page-dashboard .dashboard-content,
    .page-persons .person-content,
    .page-add-person .add-person-content,
    .page-view-person .view-person-content,
    .page-edit-person .edit-person-content,
    .page-my-profile .my-profile-content,
    .page-hobbies .hobbies-content,
    .page-add-hobby .add-hobby-content,
    .page-edit-hobby .edit-hobby-content{
        left: 0;
        right: 0;
    }

}

@media (min-width: 992px) {
    .page-dashboard .dashboard-content,
    .page-persons .person-content,
    .page-add-person .add-person-content,
    .page-view-person .view-person-content,
    .page-edit-person .edit-person-content,
    .page-my-profile .my-profile-content,
    .page-hobbies .hobbies-content,
    .page-add-hobby .add-hobby-content,
    .page-edit-hobby .edit-hobby-content{
        left: 250px;
    }

}

@media (max-width: 768px) {
    .page-dashboard .dashboard-card {
        width: 100%;
    }

    .page-persons .form-select-sm {
        width: 100%;
    }

    /*.page-persons .first-heading{*/
    /*  display: none !important;*/
    /*}*/


}

