.add-person-content {
  top: 100px;
  right: 0;
  left: 255px;
}

.form-input .form-floating textarea {
  height: 145px;
}

.form-input input,
.form-input select,
.form-input textarea {
  border: 1px solid #ddd;
}

.form-input span {
  font-size: 0.85rem;
  color: #015d98;
}
