/* DASHBOARD CONTENT */

.page-dashboard .header-sm-title {
  font-size: 1.2rem;
  margin-bottom: 0;

  line-height: 1.6;
}

.page-dashboard .dashboard-content {
  top: 100px;
  right: 0;
}

.page-dashboard .dashboard {
  row-gap: 3.6rem;
  margin-top: 3.6rem;
}
