/* DASHBOARD CONTENT */
.page-dashboard .header-sm-title {
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 1.6;
}

.page-dashboard .content-wrapper{
    margin-top: 3.6rem;
}

.page-dashboard .subheading{
    font-family: "Montserrat", serif;
    font-weight: 600;
}

.page-dashboard .dashboard-content {
    top: 100px;
    right: 0;
}

.page-dashboard .dashboard {
    row-gap: 2.6rem;
}

.page-dashboard .dashboard-card,
.page-dashboard .card-body{
    transition: ease-in 0.4s;
}

.page-dashboard .dashboard-card:hover {
    box-shadow: 0 2.2rem 1.4rem rgba(215, 215, 215, 21%);
    transform: translateY(-0.9rem);
}

.page-dashboard .card-body:hover{
    .card-text{
        line-height: 1.5rem;
        overflow: visible;
        white-space: normal;
    }
    height: 150px;
}

.page-dashboard table tbody{
    padding-bottom: 2rem;
}

.page-dashboard table tr td{
    line-height: 3rem;
}