.page-edit-person .edit-person-content {
    top: 100px;
    right: 0;
}

.page-edit-person .form-select {
    padding: 0.75rem;
}

.page-edit-person input,
.page-edit-person select{
    border: none;
    background-color: #fafafa;
}