/* COLOR */
/* 
#0d3c59
#003172
#0174be
#015d98 
#1a82c5
#FFC436
#e6f1f9
 */

/* FONT SIZE */
/*
Small = 1rem
Medium = 1.2rem 
Big = 1.4rem
Bigger = 1.6rem 
Biggest = 4.4rem
 */

/* PADDING */
/* 
Small = 0.75rem
Medium = 1.2rem
Big = 1.4rem
padding: 0.3rem 0.5rem;
 */

/* MARGIN */
/*
Small = 2rem 
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

/* .row {
  --bs-gutter-x: 0;
} */

body {
  font-family: "Open-Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #444;
}

/* HEADER */
.first-heading {
  font-size: 1.8rem;
  font-weight: 600;
}

.second-heading {
  font-size: 1.6rem;
}

.third-heading {
  font-size: 1.4rem;
}

.fourth-heading {
  font-size: 1rem;
}

.page-header {
  border-left: 3px solid #ffc436;
  padding-left: 1rem;
  font-family: "Montserrat", serif;
}

.header {
  height: 70px;
  padding: 0 1.4rem;
  background-color: #015d98;
  color: #ffff;

  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.532);
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
}

.offcanvas-header .logo {
  height: 4rem;
}


/*BODY*/

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

/*DROPDOWN ITEMS*/
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.75rem;
  color: #444444;
}

.dropdown-item:hover {
  background-color: #e6f1f9;
}

.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  column-gap: 1rem;
}

.avatar-md {
  width: 2.4rem;
}


.avatar-img {
  border-radius: 50%;
  height: auto;
}

.profile-text {
  color: #fff;
}

.logo {
  height: 3rem;
}

/* BUTTON */
.btn {
  border: none;
  background: none;
  font-family: inherit;
  /* color: inherit; */
  cursor: pointer;
  color: #333;

  --bs-btn-border-radius: none;
}

.page.persons form .btn-reset{
  padding: 0 !important;
}

.btn-secondary:hover {
  background-color: #ffc436 !important;
  color: #333;
}

.btn-secondary,
.btn-primary {
  border-radius: 3px;
  color: #333;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none;
}

.btn--form {
  padding: 0.75rem 1.4rem;
  letter-spacing: 1.75px;

  background-color: #015d98;
  color: #ffffff;
  transition: all 0.3s ease;
}

.btn--form:hover,
.btn--form:active {
  background-color: #1a82c5 !important;
  color: #ffffff;
}

.btn-primary {
  color: #ffffff;
}

.btn-primary.menu-btn:hover,
.btn-primary.menu-btn:active {
  border: none;
  background-color: #015d98;
}

.btn-container {
  margin-bottom: 2.4rem;
  margin-top: 1.4rem;
}

.logout-btn{
  padding-left: 0.60rem !important;
}

.btn-content {
  background-color: #ffc436;
  padding: 1rem 1rem;
  border-radius: 50%;
}

.btn-outline-success {
  background-color: #ffc436;
  color: #333;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
}

.btn-outline-success:hover,
.btn-outline-success:active {
  background-color: #e6b031 !important;
  color: #333;
}


.modal-footer .btn-primary {
  color: #333;
}

.delete-btn {
  padding: 0.75rem 1.4rem;
  letter-spacing: 1.75px;

  color: #ffffff;
  transition: all 0.3s ease;
  background-color: #db1d30;
  cursor: pointer;
  border: none !important;
}


.delete-btn:hover,
.delete-btn:active{
  background-color: #ff0000 !important;
}

.modal-title,
.modal-footer button {
  font-size: 1rem;
}

.modal-footer button:nth-child(2):hover {
  background: none;
  color: #015d98;
}

.btn-block {
  background-color: #ffc436;
}


/* ICON */
.icon {
  height: 1.6rem;
}

.color {
  color: #015d98;
}

.nav-link svg{
  width: 2rem;
}

.nav-link path {
  /*fill: #015d98 !important;*/
  stroke: #015d98;
  /*fill: #015d98;*/
}

.dropdown path{
  fill: #ffffff;
}

.filter-icon {
  color: #333;
}

.header-icon{
  width: 2.4rem;
  color: #ffffff;
}

/* FORM */
.form-control,
.form-control-sm,
.btn--form {
  border: 1px solid #015d98;
  cursor: pointer;

  border-radius: 2px;
}

.form-control {
  padding: 0.75rem;
}

.form-control-sm {
  padding: 0.55rem;
}


.form-input .form-floating textarea {
  height: 100px;
}

.form-input input,
.form-input select {
  border: none;
  background-color: #fafafa;
}


.form-select-lg {
  font-size: 1rem;
  color: #555;
}

.form-select {
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}

.form-select-sm {
  width: 100px;
}

.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1rem;
}

.form-check-input:checked {
  border: none;
  background-color: #ffc436;
}

.form-check .form-check-input {
  width: 3rem;
  height: 1.6rem;
  border: 1px solid #dddddd;
}

.right select option {
  padding: 1.2rem;
}

.form-input p{
  margin-top: 0.5rem;
  background-color: #fafafa;
  padding: 0.95rem 0.75rem;
  color: #333;
  border-radius: 1px;
}

/* HIGHLIGHT WHEN ACTIVE */
.nav-item.active {
  background-color: #e6f1f9;
}

/* UTILITIES (not specific) */
.has-border {
  background: none;
  border: 1px solid #015d98;
  color: #015d98;
}

.required::after {
  content: " *";
  color: #ff0000;
  font-size: 16px;
}

.alert-popup{
  font-family: "Open-Sans", sans-serif;
  line-height: 1.6;
}


/* SIDEBAR */

.sidebar {
  position: fixed;
  height: 100%;
  box-shadow: 0 0.1rem 0.75rem rgba(0, 0, 0, 0.122);
  border-right: 1px solid #ddd;
}

.header-nav {
  padding-top: 90px;
  width: 250px;
  height: 100%;
}

.offcanvas.offcanvas-start {
  width: 300px;
}

.offcanvas-body{
  padding: 0;
}

.nav-title {
  letter-spacing: 1.75px;

  text-transform: uppercase;
  font-weight: 600;
}

.nav-item,
.nav-link {
  /* font-size: 1.6rem; */
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.nav-item,
.nav-title {
  padding: 1.2rem;
  width: 100%;
}

.nav-item:hover,
.nav-item:active {
  background-color: #e6eef9;
}

.nav-link {
  cursor: pointer;
}

/* NAVIGATION ON SIDEBAR*/
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

li ul .nav-link {
  padding-left: 1.2rem;
}


/* TABLE */

.table{
  height: 100%;
  min-width: 800px;
  --bs-table-color: none;

}


thead tr {
  background-color: #015d98;
  color: #e6f1f9;
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.table tbody{
  height: 50px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.table-nav {
  padding: 0.2rem 0.75rem;
  border: 1px solid #015d98;
  color: #333;
  border-radius: 2px;
}


.table > :not(caption) > * > * {
  background: none;
}

.table > tbody {
  vertical-align: baseline;
}

thead tr {
  height: 55px;
  vertical-align: middle;
}


/*CARD*/
.number {
  font-size: 4.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  opacity: 80%;

  /* text-align: center; */
  color: #015d98;
}

.card-subtitle {
  font-weight: 600;
}

.card {
  background-color: #ebf4fa;

  padding: 1.2rem;

  border-radius: 5px;
  border: none;
}

.card-body .number, .card-body .card-subtitle{
  border-bottom: none;
}

.card-text {
  letter-spacing: 0.5px;
  margin-top: 1.4rem;
  padding-bottom: 0.5rem;
  color: #444;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-link {
  padding-bottom: 2px;
  border-bottom: 2px solid #1a82c5;
  text-decoration: none;
}

/*CONTENT*/
 .errorText{
   line-height: 1.5;
 }

 .content-wrapper{
   margin-bottom: 2.5rem;
 }

