/*
==========================
       PAGE HOBBY
==========================
*/
.page-hobbies .hobbies-content {
    top: 100px;
    right: 0;
}

/*
==========================
       PAGE ADD HOBBY
==========================
*/
.page-add-hobby .add-hobby-content {
    top: 100px;
    right: 0;
}

/*
==========================
       PAGE EDIT HOBBY
==========================
*/

.page-edit-hobby .edit-hobby-content {
    top: 100px;
    right: 0;
}