
.page-persons .person-content {
  top: 100px;
  right: 0;
}

.page-persons .view-btn {
  background-color: #015d98;
  color: #fff;
}

.page-persons .edit-btn {
  border: 1px solid #015d98;
  color: #444;
}

.page-persons .view-btn:hover,
.page-persons .view-btn:active {
  color: #fff !important;
  background-color: #1a82c5;
}

.page-persons form .wrapper{
  row-gap: 1rem;
}


