/* @media (min-width: 992px) {
  .col-lg-9 {
    right: 0;
    bottom: -100px;
    position: relative;
  }
} */

@media (max-width: 1200px) {
  .person-content,
  .dashboard-content {
    left: 0;
    right: 0;
  }

  .sidebar {
    width: 0;
    display: none;
  }
}
