/* @media (max-width: 1200px) {
  .person-content,
  .dashboard-content,
  .add-person-content,
  .view-person-content,
  .my-profile-content {
    left: 0;
    right: 0;
  }
} */

/* @media (min-width: 1200px) {
  .dashboard-content,
  .person-content,
  .add-person-content,
  .view-person-content,
  .my-profile-content {
    left: 0;
    right: 0;
  }
} */

@media (min-width: 1400px) {
  .dashboard-content,
  .person-content,
  .add-person-content,
  .view-person-content,
  .my-profile-content {
    left: 250px;
  }
}

@media (max-width: 992px) {
  .dashboard-card {
    width: 100%;
  }

  .person-content,
  .dashboard-content,
  .add-person-content,
  .view-person-content,
  .my-profile-content {
    left: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .person-content,
  .dashboard-content,
  .add-person-content,
  .view-person-content,
  .my-profile-content {
    left: 250px;
  }
}
